__pycache__/
.pytest_cache/
*.pyc
*.pyo
*.aux
*.log
*.out
*.toc
*.fls
*.fdb_latexmk
*.synctex.gz
*.glob
*.vo
*.vok
*.vos
.*.aux

.venv/
*.cmi
*.cmx
*.o
refinement_checker_ocaml
assembly_checker
Nontrivial
